@media (max-width: 425px) {
    .navbar {
      padding: 10px 10px;
    }
  
    .nav-menu {
      display: flex;
      max-width: 200px;

    }
    .nav-menu a {
      padding: 10px 10px ;
      display: flex;
      font-size: 5px;
      margin-left: -50px;
    }
  
  
    .search-bar {
      margin-top: 10px; 
    }
    
  .footer-content {
    flex-direction: column; 
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px; 
  }

  .back-to-top {
    bottom: 10px;
    right: 10px;
    padding: 5px 10px; 
  }
  .success-message {
    text-align: center;
    margin: 0;
    background-color: #fffdfd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
     width: 80%; 
}

}

@media (max-width: 768px) {
    .navbar {
      padding: 10px 10px;
    }
  
    .nav-menu {
      display: none;
    }
  
    .search-bar {
      margin-top: 10px; 
    }
    
  .footer-content {
    flex-direction: column; 
  }

  .footer-section {
    width: 100%;
    margin-bottom: 20px; 
  }

  .back-to-top {
    bottom: 10px;
    right: 10px;
    padding: 5px 10px; 
  }
}